<% include header %>
<div class="w3-top" style="position:relative;bottom:10em">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card" >
          <a href="/" class="w3-bar-item w3-button"><b>Northwest</b> Library</a>
          <!-- Float links to the right. Hide them on small screens -->
          <div class="w3-right w3-hide-small">

            
            <a href="books" class="w3-bar-item w3-button">Books</a>
            <a href="about" class="w3-bar-item w3-button">About</a>
            <a href="contact" class="w3-bar-item w3-button">Contact</a>
            <a href="edit" class="w3-bar-item w3-button">Welcome <%= user %></a>
            <a href="/logout" class="w3-bar-item w3-button">Logout</a>
        </div>
    </div>
</div>

