<% include header %>
<div class="w3-top" style="position:relative;bottom:10em">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card" >
      <a href="allBooks" class="w3-bar-item w3-button"><b>Northwest</b> Library</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">

        
        <a href="allBooks" class="w3-bar-item w3-button">All Books</a>
        <a href="myBooks" class="w3-bar-item w3-button">My Books</a>
        <a href="about" class="w3-bar-item w3-button" style="background-color: grey;color:white">About</a>
        <a href="contact" class="w3-bar-item w3-button">Contact</a>
        <a href="edit" class="w3-bar-item w3-button">Welcome <%= user %></a>
        <a href="/logout" class="w3-bar-item w3-button">Logout</a>
      </div>
    </div>
</div>

<div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>Northwest Library is a website where students can borrow read and return books.</p>
</div>
    
<div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://lh3.googleusercontent.com/uDOzXrV_D5gEK4QUANXqMIO3uEf0tNmrmzykQ6XdJuYMsK4zu0GKjS-gHkmNaiCWCmlv2MT5redo2JjPTXIMOCwR3Wq1fBhS8gZFOgHrdR4g06yrzfEA2xzhYWA5KK_goL8Qa0Ejbttf6fGSMalyYk-bggLJvxjkMXryueK-ryk4p0YA2S_bA_87N4zFHlqXxO6VE9fNK5HAX7zykpfLBqitJJsXdghRlL15Z7t6UnrYJx2HkrfRvRulky1kSbo_FbR3Xyb8IAmQGnAIbHpeAhJCl0oTaVjtgghNJ4yBPCXsOGVcvokiLtz9Y2yw_WyBPrdQFejlEvad_HUTbaxaEmLEmQAksAMZhUPUA_0ZzdKxY8-OOi4OMTekITYDeMNpATQv0Oweei9zWmKd9GYi1SoflOaKHIWdbTBdAtTRrkLXW_PV25Fnb91gy3Sr8wgcxGTPbcYi5-kb5mceQSeIurW-Pisup8CZbKvtcZYBl0Jc1AwgbSKC48Rh0Fqw2bNf_iYTTJZkTzwOtBKx2ADZ6C0l5Eg_hTZXB-iL4KuwXDXKSl2bqXyyHWoscM00xfnH_5xYp2tDQ894_tXMMKZWqD9rOJERcVFSB9rGxGI=w460-h613-no" alt="Varsha" style="width:100%; height:23em">
        <h3>Varsha Basawapuram</h3>
        <p class="w3-opacity">Developer</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://lh3.googleusercontent.com/Dd_bx3f6X01KmsDDUETgec9hwaipyBLCWY2ez4yiCYpo-W5fppGGSJGUEy3KIySPj7AOTXAckUGmmoTmHKHcGfCaRcMwZArRiDf3IW8D3wh50rbOM9cTaakVNjlVUd4bfFjBYCarI9EiZRwBBBxBtDDf40LVwtcNYDlKWv-LTIBYa64WotaABelezV8Pld5daw_liUWihnsdPcy6uBgX4PsOqXZi75PzCMzdz9Ng_HkWhU9XyLPjYpNoSJkRjXm0tRhNVBrXfcZSBbqVfAkLxE-vpDavPTlCneaTHLhF6kluiwByg_eCyME82TlRPrBv-cTW_3g8_4ALEddfpXb6gvRS7Ap4ozjLlnHOWcQBxPPXDbMl1Uhd9ywJ3DSBIdoazwLjJtqcTy-ZHo2GkLVsuXcK_QsjwcgnXQtYXv2PK-Du7WBe6asaXdTLb7GQIo0u9EPbXhHv9dErGxw0ySUXnPoO4ADuqEMQWDLwUMND0AjguR472EB_1_VxIfdQmWohaNen7RQGzu7-icrJSfvxfBifV2aFeJixnGk9cJBzFmkIYv7a3qAglPmADeltN6mz_LSZw1ri2w4VUIYWW7QV7bP097SJX3hGC9D5g7U=s640-no" alt="Amar" style="width:100%; height:23em">
        <h3>Amarendar Reddygari</h3>
        <p class="w3-opacity">Developer</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-0/q85/c0.0.369.369/p370x247/29595478_1224995657604217_1057213477176549503_n.jpg?_nc_cat=0&oh=452e8572004bb7bcd716352968099e57&oe=5B5ED46A" alt="Tapan" style="width:100%; height:23em">
        <h3>Tapan Jella</h3>
        <p class="w3-opacity">Developer</p>
    </div>
</div>